<!doctype html>
<html lang="en">
  <head>
    <title>{% block header %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" href="{% static 'font/css/font-awesome.min.css' %}">
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left mySidebar_container" style="width:250px;" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
      <img src="/static/images/logo.png" class="img-fluid" alt="Responsive image">
      <a href="{% url 'home_view' %}" class="w3-bar-item w3-button">
        <span class="badge badge-primary badge-pill"><i class="fa fa-home"></i></span> Home
      </a>
      <a href="{% url 'add_view' %}" class="w3-bar-item w3-button">
        <span class="badge badge-primary badge-pill"><i class="fa fa-plus"></i></span> Add-member
      </a>
      <a href="{% url 'add_dependant' %}" class="w3-bar-item w3-button">
        <span class="badge badge-primary badge-pill"><i class="fa fa-plus"></i></span> Add-dependant
      </a>
      <a href="{% url 'list_view' %}" class="w3-bar-item w3-button">
        <span class="badge badge-primary badge-pill"><i class="fa fa-list"></i></span> View-members
      </a>
      <a href="{%  url 'user_profile' %}" class="w3-bar-item w3-button">
        <span class="badge badge-primary badge-pill"><i class="fa fa-user"></i></span> Profile
      </a>
      <a href="{% url 'home_setting' %}" class="w3-bar-item w3-button">
        <span class="badge badge-primary badge-pill"><i class="fa fa-cogs"></i></span> Setting
      </a>
      <a href="{% url 'logout_view'%}" class="w3-bar-item w3-button">
        <span class="badge badge-primary badge-pill"><i class="fa fa-sign-out"></i></span> Logout
      </a>
    </div>

    <div class="w3-main" style="margin-left:250px">
    <div class="welcome_header">
      <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
      <div class="w3-container header_top">
        <h1>Welcome: {{user.username}} - Istiqaama Muslim Community Of Tanzania</h1>
      </div>
    </div>

    <div class="w3-container">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navigation">
              <a class="navbar-brand" href="{% url 'home_view' %}">Dashboard</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-list"></i>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_view' %}"><span class="badge badge-primary badge-pill"><i class="fa fa-home"></i></span> Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_view' %}"><span class="badge badge-primary badge-pill"><i class="fa fa-plus"></i></span> Add-member</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_dependant' %}"><span class="badge badge-primary badge-pill"><i class="fa fa-plus"></i></span> Add-dependant</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_view' %}"><span class="badge badge-primary badge-pill"><i class="fa fa-list"></i></span> View-members</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{%  url 'user_profile' %}"><span class="badge badge-primary badge-pill"><i class="fa fa-user"></i></span> Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_setting' %}"><span class="badge badge-primary badge-pill"><i class="fa fa-cogs"></i></span> Setting</a>
                  </li>
                </ul>
                <ul class="navbar-nav my-2">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout_view'%}"><span class="badge badge-primary badge-pill"><i class="fa fa-sign-out"></i></span> Logout</a>
                  </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
              </div>
            </nav>
          </div>
        </div>
      </div>

      <div class="base_container">
        <div class="container">
          <h1 class="header_top">Istiqaama Muslim Community Of Tanzania <a href="{% url 'generate_view' %}" class="btn btn-primary btn-sm" target="_blank"><i class="fa fa-print"></i> Print report for all members</a></h1>
          <h2>Zakat Beneficiaries</h2>
          <hr>
          <div class="row">
            <div class="col-md-12">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>

    <script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
    </script>

    {% else%}
      <div class="login-again" style="text-align:center; margin: 200px auto;">
          <center><p><a href="{% url 'login_view' %}" style="text-decoration:none; height: 50px;padding-top:10px;font-weight:bold" class="btn btn-info btn-sm">Click here to login again</a></p></center>
      </div>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'jqueryfile.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
